{% extends 'layout.html' %}
{%block main_class %}<div class="what"> {% endblock %}
{% block content %}

    <!--/start-stories-->
    <div class="Companies-section">
        <div class="container">


            <h3>Организации</h3>
            {% for org in organizations %}
            <div class="company-grids">

                <div class="company-grid one">
                    <div class="col-md-3 company-grid-img" align="center">
                        <img src="{{org.logo}}" title="" />

                    <h4>{{org.name}}</h4>
                    </div>
                    <div class="col-md-9 company-grid-text">
                        <p>{{org.description}}</p>
                        <a class="company-btn" href="{{org.web_site}}">Перейти на сайт</a>
                    </div>
                    <div class="clearfix"> </div>
                </div>

            </div>
            {%endfor%}
        </div>
    </div>

  {%endblock%}
