{% extends 'layout.html' %}
{%block main_class %}<div class="what"> {% endblock %}
{% block content %}

    <!--/start-stories-->
    <div class="Companies-section">
        <div class="container">


            <h3>Организации</h3>
            <div class="company-grids">

                <div class="company-grid one">
                    <div class="col-md-3 company-grid-img" align="center">
                        <img src="images/s2.jpg" title="" />

                    <h4>Красный полумесяц</h4>
                    </div>
                    <div class="col-md-9 company-grid-text">
                        <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMakerincluding versions of Lorem Ipsum. </p>
                        <a class="company-btn" href="#">Перейти на сайт</a>
                    </div>
                    <div class="clearfix"> </div>
                </div>

            </div>

            <div class="company-grids">

                <div class="company-grid one">
                    <div class="col-md-3 company-grid-img" align="center">
                        <img src="images/s2.jpg" title="" />

                    <h4>Красный полумесяц</h4>
                    </div>
                    <div class="col-md-9 company-grid-text">
                        <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMakerincluding versions of Lorem Ipsum. </p>
                        <a class="company-btn" href="#">Перейти на сайт</a>
                    </div>
                    <div class="clearfix"> </div>
                </div>

            </div>

            <div class="company-grids">

                <div class="company-grid one">
                    <div class="col-md-3 company-grid-img" align="center">
                        <img src="images/s2.jpg" title="" />

                    <h4>Красный полумесяц</h4>
                    </div>
                    <div class="col-md-9 company-grid-text">
                        <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMakerincluding versions of Lorem Ipsum. </p>
                        <a class="company-btn" href="#">Перейти на сайт</a>
                    </div>
                    <div class="clearfix"> </div>
                </div>

            </div>
        </div>
    </div>

  {%endblock%}
