{%extends 'layout.html'%}
{%block main_class %}<div class="what"> {% endblock %}
  {%block content%}
    <div class="contact">
        <div class="container">


            <div class="contact-section">
                <h3>Contact Us </h3>
                <form>
                    <input type="text" class="text" value="Enter Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Name';}">
                    <input type="text" class="text" value="Enter Mail" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Mail';}">
                    <input type="text" class="text" value="Subject" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Subject';}">
                    <textarea onfocus="if(this.value == 'Enter Message...') this.value='';" onblur="if(this.value == '') this.value='Enter Message';">Enter Message...</textarea>
                    <div class="clearfix"> </div>
                    <input type="submit" value="SEND MESSAGE">
                </form>
            </div>
        </div>
    </div>
    <div class="contact-map">
        <iframe src="https://www.google.com/maps/embed?pb=!4m5!3m4!1s0x389eb7c2a6fd1615:0x20d8bf1fd38af6a2!8m2!3d42.8106402!4d74.6273589"> </iframe>
    </div>
 {% endblock %}
