{%extends 'layout.html'%}
{%block main_class %}<div class="what"> {% endblock %}
  {%block content%}
    <div class="contact">
        <div class="container">


            <div class="contact-section">
                <h3>Свяжитесь с нами</h3>
                <form>
                    <input type="text" class="text" value="Имя" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Имя';}">
                    <input type="text" class="text" value="Почта" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Почта';}">
                    <input type="text" class="text" value="Телефон" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Телефон';}">
                    <textarea onfocus="if(this.value == 'Ваше сообщение...') this.value='';" onblur="if(this.value == '') this.value='Enter Message';">Ваше сообщение...</textarea>
                    <div class="clearfix"> </div>
                    <input type="submit" value="Отправить">
                </form>
            </div>
        </div>
    </div>
    <div class="contact-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1578265.0941403757!2d-98.9828708842255!3d39.41170802696131!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited+States!5e0!3m2!1sen!2sin!4v1407515822047"> </iframe>
    </div>
 {% endblock %}
