{%extends 'layout.html'%}
{%block main_class %}<div class="what"> {% endblock %}
  {%block content%}
<!-- /header -->
	<div class="donate">
	<div class="container">
		

		<div class="donate-main">
			<div class="col-md-8 donate-right">
				<div class="donate-top">
					<h3>Форма</h3>
					<form>

						<div>
							<span>First Name<label>:</label></span>
								<input type="text">
							 </div>
							 <div class="clearfix"> </div>
							 <div>
								<span>Last Name<label>:</label></span>
								<input type="text">
							 </div>
							 <div class="clearfix"> </div>
							 <div>
								 <span>Email Address<label>:</label></span>
								 <input type="text">
							 </div>
							 <div class="clearfix"> </div>
					 		<div>
								 <span>Address<label>:</label></span>
								 <input type="text">
							 </div>
							 <div class="clearfix"> </div>
							 <div>
							<span>Credit card No<label>:</label></span>
								<input type="text">
							 </div>
							 	 <div class="clearfix"> </div>
							<div>
								<span>City<label>:</label></span>
								 <input type="text">
							 </div>
							 <div class="clearfix"> </div>
							 <div>
									<span>State<label>:</label></span>
						 		<select name="city">
								<option value="select your location"> states</option>
								<option value="saab">location1</option>
								<option value="fiat">location2</option>
								<option value="audi">location3</option>
								</select>
								</div>
								<div class="clearfix"> </div>
					   			<div>
								 <span>Zip<label>:</label></span>
									<input type="text">
								</div>
								<div class="clearfix"> </div>
						<input type="submit" value="Donate">

					</form>
				</div>
				<div class="clearfix"> </div>
			</div>
<!--
			<div class="col-md-4 donate-left">
				<div class="login-form">
					<h1>PayPal Account</h1>
						<form>
								<input type="text" class="text" value="USERNAME" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'USERNAME';}" >
								<input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
								<div class="submit">
									<input type="submit" onclick="myFunction()" value="LOGIN" >
							</div>
							<p><a href="#">Forgot Password ?</a></p>
						</form>
					</div>

			</div>
			<div class="clearfix"> </div>
-->
		</div>
	</div>
</div>

{%endblock%}
