{% extends 'layout.html' %}
{%block main_class %}<div class="main">{% endblock %}
    {% block content %}
    <div class="banner">
        <div class="slider-caption">
            <div class="learn-button">
                <a class="slide-btn" href="/publications">Хочу помочь</a>
                <a class="slide-btn" href="/needs/form">Нуждаюсь в помощи</a>
            </div>
        </div>
    </div>
    <!-- /header -->
    <!-- slider -->
    <!--start-parts-->
    <div class="parts-section">
        <div class="container">


            <div class="part-grids">
                <div class="col-md-4 part-grid">
                    <i class="icon1"> </i>
                    <h3>Материальная помощь</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable </p>
                    <a class="view-btn" href="#">Смотреть</a>
                </div>

                <div class="col-md-4 part-grid">
                    <i class="icon3"> </i>
                    <h3>Волонтерство</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable </p>
                    <a class="view-btn" href="#">Смотреть</a>
                </div>

                <div class="col-md-4 part-grid">
                    <i class="icon5"> </i>
                    <h3>Моральная помощь</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable </p>
                    <a class="view-btn" href="#">Смотреть</a>
                </div>

                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
     <div id="gallery" class="Gallery">
        <div class="container">


            <div class="gallery-head">
                <h3>Вы можете помочь</h3>
            </div>
            <div class="section group">
                <div class="col-md-4 gallery-box">
                    <div id="nivo-lightbox-demo">
                        <p> <a href="images/pop1.png" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"> <span class="rollover1"> </span></a> </p>
                    </div>
                    <img src="images/g1.png" alt="">
                    <div class="para_s">
                        <h4>Richard july</h4>
                        <p>Lorem Ipsy Dolor Site Dummy</p>
                    </div>
                </div>
                <div class="col-md-4 gallery-box">
                    <div id="nivo-lightbox-demo">
                        <p> <a href="images/pop2.png" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"> <span class="rollover1"> </span></a> </p>
                    </div>
                    <img src="images/g2.png" alt="">
                    <div class="para_s">
                        <h4>Richard july</h4>
                        <p>Lorem Ipsy Dolor Site Dummy</p>
                    </div>
                </div>
                <div class="col-md-4 gallery-box">
                    <div id="nivo-lightbox-demo">
                        <p> <a href="images/pop3.png" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">  <span class="rollover1"> </span></a> </p>
                    </div>
                    <img src="images/g3.png" alt="">
                    <div class="para_s">
                        <h4>Richard july</h4>
                        <p>Lorem Ipsy Dolor Site Dummy</p>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="section group">
                <div class="col-md-4 gallery-box">
                    <div id="nivo-lightbox-demo">
                        <p> <a href="images/pop4.png" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"> <span class="rollover1"> </span></a> </p>
                    </div>
                    <img src="images/g4.png" alt="">
                    <div class="para_s">
                        <h4>Richard july</h4>
                        <p>Lorem Ipsy Dolor Site Dummy</p>
                    </div>
                </div>
                <div class="col-md-4 gallery-box">
                    <div id="nivo-lightbox-demo">
                        <p> <a href="images/pop5.png" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"> <span class="rollover1"> </span></a> </p>
                    </div>
                    <img src="images/g5.png" alt="">
                    <div class="para_s">
                        <h4>Richard july</h4>
                        <p>Lorem Ipsy Dolor Site Dummy</p>
                    </div>
                </div>
                <div class="col-md-4 gallery-box">
                    <div id="nivo-lightbox-demo">
                        <p> <a href="images/pop6.png" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">  <span class="rollover1"> </span></a> </p>
                    </div>
                    <img src="images/g6.png" alt="">
                    <div class="para_s">
                        <h4>Richard july</h4>
                        <p>Lorem Ipsy Dolor Site Dummy</p>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <script type="text/javascript" src="js/nivo-lightbox.min.js"></script>
            <script type="text/javascript">
                $(document).ready(function() {
                    $('#nivo-lightbox-demo a').nivoLightbox({
                        effect: 'fade'
                    });
                });

            </script>
        </div>
    </div>
    <!--//End-Gallery-->
    <!--/start-services-->
    <div class="Service-section">
        <div class="container">
            <div class="service-grids">
                <div class="col-md-4 service-grid">
                    <h3>Наша миссия</h3>
                    <p>The leap into electronic typesetting, remaining essentiallyunchanged.into electronic typesetting essentiallyunchanged. unchanged. </p>
                </div>
                <div class="col-md-4 service-grid">
                    <h3>Что мы уже сделали</h3>
                    <p>The leap into electronic typesetting, remaining essentiallyunchanged.into electronic typesetting essentiallyunchanged. unchanged. </p>
                </div>
                <div class="col-md-4 service-grid">
                    <h3>Как стать участником</h3>
                    <p>The leap into electronic typesetting, remaining essentiallyunchanged.into electronic typesetting, essentiallyunchanged. unchanged. </p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!--/start-stories-->
    <div class="Stories-section">
        <div class="container">


            <h3>Реальные истории</h3>
            <div class="story-grids">
                <div class="story-grid one">
                    <div class="col-md-9 story-grid-text">
                        <p><img src="images/u-qt.png" title="" />It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMakerincluding versions of Lorem Ipsum. <img src="images/d-qt.png" title="" /></p>
                        <a class="story-btn" href="#">Read More</a>
                    </div>
                    <div class="col-md-3 story-grid-img">
                        <img src="images/c1.png" title="" />
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="story-grid two">
                    <div class="col-md-9 story-grid-text">
                        <p><img src="images/u-qt.png" title="" />It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMakerincluding versions of Lorem Ipsum. <img src="images/d-qt.png" title="" /></p>
                        <a class="story-btn" href="#">Read More</a>
                    </div>
                    <div class="col-md-3 story-grid-img">
                        <img src="images/c2.jpg" title="" />
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="story-grid three">
                    <div class="col-md-9 story-grid-text">
                        <p><img src="images/u-qt.png" title="" /> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMakerincluding versions of Lorem Ipsum. <img src="images/d-qt.png" title="" /></p>
                        <a class="story-btn" href="#">Read More</a>
                    </div>
                    <div class="col-md-3 story-grid-img">
                        <img src="images/c3.png" title="" />
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
    <!--//End-Gallery-->
    <!--strat-image-cursuals-->
{% endblock %}
