<!DOCTYPE HTML>
<html>

<head>
    <title>Благотворительный сайт</title>
    <meta charset="utf-8">
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="css/magnific-popup.css">
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

    </script>

    <!--start-smoth-scrolling-->
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });

    </script>
    <!--start-smoth-scrolling-->
    <!-- webfonts -->
    <link href='http://fonts.googleapis.com/css?family=Arimo:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700|Open+Sans:400italic,600italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- webfonts-->
</head>

<body>
    <!-- header -->
   {%block main_class %} {% endblock %}
     <div class="header">
         <div class="container">
             <!-- logo -->
             <div class="logo">
                 <a href="index.html"><img src="images/logo4.png" title="Help hand" />
                     <div><h1>Zhardam</h1></div></a>
             </div>
             <!-- /logo -->
             <!-- top-nav -->
                <div class="top-nav">
                    <span class="menu"> </span>
                    <ul>
                        <li {%if url == "/"%} class="active" {% endif %} ><a href="/">Главная</a></li>
                        <li {%if url == "/about"%} class="active" {% endif %}><a href="/about">О нас</a></li>
                        <li{%if url == "/companies"%} class="active" {% endif %}><a href="/companies">Компании</a></li>
                        <li{%if url == "/reports"%} class="active" {% endif %}><a href="/reports">Отчеты</a></li>
                        <li{%if url == "/contact"%} class="active" {% endif %}><a href="/contact">Контакты</a></li>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
                <!-- start search-->
                <div class="search-box">
                    <div id="sb-search" class="sb-search">
                        <form>
                            <input class="sb-search-input" placeholder="Введите запрос..." type="search" name="search" id="search">
                            <input class="sb-search-submit" type="submit" value="">
                            <span class="sb-icon-search"> </span>
                        </form>
                    </div>
                </div>
                <!-- search-scripts -->
                <script src="js/classie.js"></script>
                <script src="js/uisearch.js"></script>
                <script>
                    new UISearch(document.getElementById('sb-search'));

                </script>
                <!-- //search-scripts -->
                <div class="clearfix"></div>
            </div>

            <!-- script-for-nav -->
            <script>
                $(document).ready(function() {
                    $("span.menu").click(function() {
                        $(".top-nav ul").slideToggle(300);
                    });
                });

            </script>
            <!-- script-for-nav -->
            <!-- /top-nav -->
            <div class="clearfix"> </div>
        </div>

            <!-- script-for-nav -->
            <script>
                $(document).ready(function() {
                    $("span.menu").click(function() {
                        $(".top-nav ul").slideToggle(300);
                    });
                });

            </script>
            <!-- script-for-nav -->
            <!-- /top-nav -->
            <div class="clearfix"> </div>
        </div>
    </div>

    <!-- /header -->
    <!-- slider -->
    <!--/start-services-->
    {%block content%}
    {% endblock %}
    <div class="scroll-slider">
        <div class="container">
            <div class="nbs-flexisel-container">
                <div class="nbs-flexisel-inner">
                    <ul class="flexiselDemo3 nbs-flexisel-ul" style="left: -253.6px; display: block;">
                        <li onclick="location.href='#';" class="nbs-flexisel-item" style="width: 253.6px;"><img src="images/s1.png"></li>
                        <li onclick="location.href='#';" class="nbs-flexisel-item" style="width: 253.6px;"><img src="images/s4.jpg"></li>
                        <li onclick="location.href='#';" class="nbs-flexisel-item" style="width: 253.6px;"><img src="images/s2.jpg"></li>
                        <li onclick="location.href='#';" class="nbs-flexisel-item" style="width: 253.6px;"><img src="images/s3.png"></li>
                        <li onclick="location.href='#';" class="nbs-flexisel-item" style="width: 253.6px;"><img src="images/s4.jpg"></li>
                        <li onclick="location.href='#';" class="nbs-flexisel-item" style="width: 253.6px;"><img src="images/s1.png"></li>
                        <li onclick="location.href='#';" class="nbs-flexisel-item" style="width: 253.6px;"><img src="images/s2.jpg"></li>
                        <li onclick="location.href='#';" class="nbs-flexisel-item" style="width: 253.6px;"><img src="images/s5.jpg"></li>
                    </ul>
                    <div class="nbs-flexisel-nav-left" style="top: 21.5px;"></div>
                    <div class="nbs-flexisel-nav-right" style="top: 21.5px;"></div>
                </div>
            </div>
            <div class="clear"> </div>
            <!--strat-image-cursuals-->
            <script type="text/javascript" src="js/jquery.flexisel.js"></script>
            <!--End-image-cursuals-->
            <script type="text/javascript">
                $(window).load(function() {
                    $(".flexiselDemo3").flexisel({
                        visibleItems: 5,
                        animationSpeed: 1000,
                        autoPlay: true,
                        autoPlaySpeed: 3000,
                        pauseOnHover: true,
                        enableResponsiveBreakpoints: true,
                        responsiveBreakpoints: {
                            portrait: {
                                changePoint: 480,
                                visibleItems: 1
                            },
                            landscape: {
                                changePoint: 640,
                                visibleItems: 2
                            },
                            tablet: {
                                changePoint: 768,
                                visibleItems: 3
                            }
                        }
                    });
                });

            </script>
        </div>
    </div>
    <!--/start-footer-->
    <div class="footer">
        <div class="container">

            <div class="footer-grids">
                <div class="col-md-4 footer-grid-icons">
                    <h3>Следите за нами:</h3>
                    <ul>
                        <li><a class="twitter" href="#"><span> </span></a></li>
                        <li><a class="fb" href="#"><span> </span></a></li>
                        <li><a class="you" href="#"><span> </span></a></li>
                        <li><a class="in" href="#"><span> </span></a></li>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
                <div class="col-md-4 footer-grid-text">
                    <h3>Подпишитесь на наши новости</h3>
                    <p>Lorem Ipsum is simply dummy text of theprinting and typesetting industry.</p>
                    form method="post" action="contact-post.html">
                    <a class="sign-btn" href="signup.html">Подписаться</a>
                </div>
                <div class="col-md-4 copy-right">
                    <p>&copy; Все права защищены &nbsp;</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!--//End-foote-->
    <script type="text/javascript">
        $(document).ready(function() {
            /*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear'
								 		};
										*/

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });

    </script>
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
</body>

</html>
