<{%extends 'layout.html'%}
{%block main_class %}<div class="what"> {% endblock %}
  {%block content%}

    <!-- /header -->
    <!-- slider -->

   <div class="portfolios entertain_box  wow fadeInUp" data-wow-delay="0.4s" id="project">
        <div class="container">


            <div class="portfolio-top">
                <h3>Помочь</h3>
                <ul id="filters" class="clearfix">
                    <li><span class="filter active" data-filter="app card icon logo web"> Все объявления</span></li>
                    <li><span class="filter" data-filter="app">Категория 1</span></li>
                    <li><span class="filter" data-filter="photo">Категория 2</span></li>
                    <li><span class="filter" data-filter="card">Категори 3</span></li>
                </ul>
                <div id="portfoliolist">
                    <div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
                        <div class="portfolio-wrapper">
                            <a href="images/d11.png" class="b-link-stripe b-animate-go   swipebox" title="Image Title">
						     <img src="images/d1.png" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="images/search.png" alt=""/></h2>
						  	 </div></a>
                        </div>
                        <div class="small-text">
                            <h5>ipsum dolor</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Pellentesque eu erat lacus, consectetur</p>
                        </div>
                    </div>
                    <div class="portfolio card mix_all" data-cat="card" style="display: inline-block; opacity: 1;">
                        <div class="portfolio-wrapper">
                            <a href="images/d21.png" class="b-link-stripe b-animate-go   swipebox" title="Image Title">
						     <img src="images/d2.png" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="images/search.png" alt=""/></h2>
						  	 </div></a>

                        </div>
                        <div class="small-text">
                            <h5>ipsum dolor</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Pellentesque eu erat lacus, consectetur</p>
                        </div>
                    </div>
                    <div class="portfolio photo mix_all" data-cat="photo" style="display: inline-block; opacity: 1;">
                        <div class="portfolio-wrapper">
                            <a href="images/d31.png" class="b-link-stripe b-animate-go   swipebox" title="Image Title">
						     <img src="images/d3.png" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="images/search.png" alt=""/></h2>
						  	 </div></a>
                        </div>
                        <div class="small-text">
                            <h5>ipsum dolor</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Pellentesque eu erat lacus, consectetur</p>
                        </div>

                    </div>
                    <div class="portfolio card mix_all" data-cat="card" style="display: inline-block; opacity: 1;">
                        <div class="portfolio-wrapper">
                            <a href="images/d41.png" class="b-link-stripe b-animate-go   swipebox" title="Image Title">
						     <img src="images/d4.png" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="images/search.png" alt=""/></h2>
						  	 </div></a>
                        </div>
                        <div class="small-text">
                            <h5>ipsum dolor</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Pellentesque eu erat lacus, consectetur</p>
                        </div>
                    </div>
                    <div class="portfolio photo mix_all" data-cat="photo" style="display: inline-block; opacity: 1;">
                        <div class="portfolio-wrapper">
                            <a href="images/d51.png" class="b-link-stripe b-animate-go   swipebox" title="Image Title">
						     <img src="images/d5.png" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="images/search.png" alt=""/></h2>
						  	 </div></a>
                        </div>
                        <div class="small-text">
                            <h5>ipsum dolor</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Pellentesque eu erat lacus, consectetur</p>
                        </div>
                    </div>
                    <div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
                        <div class="portfolio-wrapper">
                            <a href="images/d61.png" class="b-link-stripe b-animate-go  swipebox" title="Image Title">
						     <img src="images/d6.png" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="images/search.png" alt=""/></h2>
						  	 </div></a>
                        </div>
                        <div class="small-text">
                            <h5>ipsum dolor</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Pellentesque eu erat lacus, consectetur</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
