<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Регистрация</title>
  <!-- Bootstrap core CSS-->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="/css/sb-admin.css" rel="stylesheet">
</head>

<body class="bg-dark">
  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Register an Account</div>
      <div class="card-body">
        <form method="post">
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="exampleInputName">Имя*</label>
                <input class="form-control" id="exampleInputName" name='first_name' type="text" aria-describedby="nameHelp" placeholder="Имя">
              </div>
              <div class="col-md-6">
                <label for="exampleInputLastName">Фамилия*</label>
                <input class="form-control" id="exampleInputLastName" name="last_name" type="text" aria-describedby="nameHelp" placeholder="Фамилия">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Номер телефона</label>
            <input class="form-control" id="exampleInputEmail1" type="number" name="phone" aria-describedby="emailHelp" placeholder="Номер">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">E-mail*</label>
            <input class="form-control" id="exampleInputEmail1" type="email" name="email" aria-describedby="emailHelp" placeholder="Почта">
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="exampleInputPassword1">Password</label>
                <input class="form-control" id="exampleInputPassword1" name='password' type="password" placeholder="Password">
              </div>
              <div class="col-md-6">
                <label for="exampleConfirmPassword">Confirm password</label>
                <input class="form-control" id="exampleConfirmPassword" type="password" placeholder="Confirm password">
              </div>
            </div>
          </div>
          <button class="btn btn-primary btn-block">Зарегистрироваться</button>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="/users/auth">Авторизоваться</a>
          <a class="d-block small" href="forgot-password.html">Забыли пароль?</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/popper/popper.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/js/password-confirm.js"></script>
</body>

</html>
