{%extends 'layout.html'%}
{%block main_class %}<div class="what"> {% endblock %}
  {%block content%}
<!-- /header -->
	<div class="donate">
	<div class="container">
		<div class="ad728x90" style="text-align:center">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- w3layouts_demo_728x90 -->
				<ins class="adsbygoogle"
				     style="display:inline-block;width:728px;height:90px"
				     data-ad-client="ca-pub-9153409599391170"
				     data-ad-slot="8639520288"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
		   </div>

		<div class="donate-main">
			<div class="col-md-8 donate-right">
				<div class="donate-top">
					<h3>Personal information</h3>
					<form>

						<div>
							<span>First Name<label>:</label></span>
								<input type="text">
							 </div>
							 <div class="clearfix"> </div>
							 <div>
								<span>Last Name<label>:</label></span>
								<input type="text">
							 </div>
							 <div class="clearfix"> </div>
							 <div>
								 <span>Email Address<label>:</label></span>
								 <input type="text">
							 </div>
							 <div class="clearfix"> </div>
					 		<div>
								 <span>Address<label>:</label></span>
								 <input type="text">
							 </div>
							 <div class="clearfix"> </div>
							 <div>
							<span>Credit card No<label>:</label></span>
								<input type="text">
							 </div>
							 	 <div class="clearfix"> </div>
							<div>
								<span>City<label>:</label></span>
								 <input type="text">
							 </div>
							 <div class="clearfix"> </div>
							 <div>
									<span>State<label>:</label></span>
						 		<select name="city">
								<option value="select your location"> states</option>
								<option value="saab">location1</option>
								<option value="fiat">location2</option>
								<option value="audi">location3</option>
								</select>
								</div>
								<div class="clearfix"> </div>
					   			<div>
								 <span>Zip<label>:</label></span>
									<input type="text">
								</div>
								<div class="clearfix"> </div>
						<input type="submit" value="Donate">

					</form>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-4 donate-left">
				<div class="login-form">
					<h1>PayPal Account</h1>
						<form>
								<input type="text" class="text" value="USERNAME" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'USERNAME';}" >
								<input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
								<div class="submit">
									<input type="submit" onclick="myFunction()" value="LOGIN" >
							</div>
							<p><a href="#">Forgot Password ?</a></p>
						</form>
					</div>

			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<div class="donator-section">
        <div class="container">
        	<div class="ad728x90" style="text-align:center">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- w3layouts_demo_728x90 -->
				<ins class="adsbygoogle"
				     style="display:inline-block;width:728px;height:90px"
				     data-ad-client="ca-pub-9153409599391170"
				     data-ad-slot="8639520288"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
		   </div>

        	<h3>OUR DONATORS</h3>
        			<div class="donate-head-grids">
							<div class="col-md-4 donate-head-grid">
								<img src="images/tr1.jpg" alt="" />
								<h4>Kimberly Thompson</h4>
								<ul class="top-social-icons">
									<li> <a class="facebook simptip-position-bottom simptip-movable" data-tooltip="Facebook" href="#"> </a></li>
									<li> <a class="twr simptip-position-bottom simptip-movable" data-tooltip="Twitter" href="#"> </a></li>
									<li> <a class="u simptip-position-bottom simptip-movable" data-tooltip="Youtube" href="#"> </a> </li>
									<div class="clearfix"> </div>
								</ul>
							</div>
							<div class="col-md-4 donate-head-grid">
								<img src="images/tr2.jpg" alt="" />
								<h4>Rico Massimo</h4>
								<ul class="top-social-icons">

									<li> <a class="facebook simptip-position-bottom simptip-movable" data-tooltip="Facebook" href="#"> </a></li>
									<li> <a class="twr simptip-position-bottom simptip-movable" data-tooltip="Twitter" href="#"> </a></li>
									<li> <a class="u simptip-position-bottom simptip-movable" data-tooltip="Youtube" href="#"> </a></li>
									<div class="clearfix"> </div>
								</ul>
							</div>
							<div class="col-md-4 donate-head-grid">
								<img src="images/tr3.jpg" alt="" />
								<h4>Uku Mason</h4>
								<ul class="top-social-icons">
									<li> <a class="facebook simptip-position-bottom simptip-movable" data-tooltip="Facebook" href="#"> </a></li>
									<li> <a class="twr simptip-position-bottom simptip-movable" data-tooltip="Twitter" href="#"> </a></li>
									<li> <a class="u simptip-position-bottom simptip-movable" data-tooltip="Youtube" href="#"> </a></li>
									<div class="clearfix"> </div>
								</ul>
							</div>
							<div class="clearfix"> </div>
						</div>
				</div>
			</div>
{%endblock%}
